.form {
  text-align: right;

  button {
    font: inherit;
    cursor: pointer;
    background-color: #000b72;
    border: 1px solid #000b72;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;

    &:hover, &:active {
      background-color: #08004e;
      border-color: #08004e;
    }
  }
}
